# Ignore IDE files
.idea

# Ignore composer binary
composer.phar

# Ignore vendor directory
/vendor/

# PHPUnit cache
.phpunit.result.cache
clover.xml

# Symfone Cache and logs
/var/

# Packed data for installers (made on request)
dist/packed



### GMDEPMAN ###

### GMDEPMAN ###